__pycache__
.history
metadata.db
document_upload
test.json
cml_test.ipynb
practice.ipynb
/app/khauneesh_test.ipynb
.env
*.pyc
__pycache__/
# Client
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.vite

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Workbench runtime
.Rprofile
.bash_history
.cache/
.conda/
.config/
.ipython/
.jupyter/
.local/
.npm/
.pip/
.ssh/

# Datasets
qa_pairs*
*.pyc
Khauneesh/
*job_args*

# Generated data files
freeform_data_*.json
row_data_*.json
lending_*.json
seeds_*.json
SeedsInstructions.json
*_example.json
nm.json
french_input.json

# DB
*metadata.db-shm
*metadata.db-wal
telemetry.db

# Test and coverage reports
.coverage
.coverage.*
htmlcov/
*.cover
coverage.xml
.tox/
.nox/
.pytest_cache
#old code
app/frontend/
app/launch_streamlit.py

# Virtual environment
.venv/freeform_data_claude_*
row_data_claude_*
freeform_data_claude_*
housing_example.json
seeds_test.json
test.csv
sample_200x100.csv
Raw_Web_Visit_sample.csv
Raw_Web_Visit_Sample.csv
Raw_Web_Visit_Sample.csv
app/test_models.py
credit_card_example.json

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# MDBook
docs/current/book/
docs/current/src/d2/
